---
- name: Install python3-debian package with apt
  ansible.builtin.apt:
    name: python3-debian
    update_cache: true

- name: Remove the legacy apt repository
  ansible.builtin.file:
    dest: /etc/apt/sources.list.d/elastic.list
    state: absent

- name: Add the Kibana apt repository
  register: kibana_repository_added
  ansible.builtin.deb822_repository:
    name: elastic
    uris: "{{ kibana.repository.apt.repository }}"
    signed_by: "{{ kibana.repository.apt.key_url }}"
    types: [deb]
    components: [main]
    suites: [stable]
    state: present
    enabled: true

- name: Update apt cache
  when: kibana_repository_added.changed
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Install Kibana
  notify: Restart Kibana
  ansible.builtin.apt:
    name: kibana

- name: Restart Kibana after package upgrade
  ansible.builtin.lineinfile:
    path: /etc/default/kibana
    regexp: "^#?RESTART_ON_UPGRADE="
    line: RESTART_ON_UPGRADE=true

- name: Handle Kibana v8 service ovverides
  when: kibana.version >= 8
  block:
    - name: Make sure the service override folder exists for the Kibana systemd service
      ansible.builtin.file:
        dest: /etc/systemd/system/kibana.service.d
        state: directory
        owner: root
        mode: "0755"

    - name: Override the Kibana systemd service to disable the log.dest parameter
      notify: Restart Kibana
      ansible.builtin.copy:
        mode: "0644"
        owner: "root"
        content: |
          [Service]
          ExecStart=
          ExecStart=/usr/share/kibana/bin/kibana --pid.file="/run/kibana/kibana.pid"
        dest: /etc/systemd/system/kibana.service.d/override.conf

    - name: Reload systemd daemons
      ansible.builtin.systemd:
        daemon_reload: true
