---
- name: Install Kibana (Debian-based)
  ansible.builtin.include_tasks: install.yaml
  when: ansible_os_family == "Debian"

- name: Configure Kibana
  ansible.builtin.include_tasks: configure.yaml

- name: Configure Nginx for Kibana
  ansible.builtin.include_tasks: nginx.yaml

- name: Set Kibana password in Elasticsearch
  ansible.builtin.include_tasks: password.yaml
  when: elasticsearch.version is version('8', '>=') and elasticsearch["elasticsearch.yml"].xpack.security.enabled

- name: Start Kibana service
  ansible.builtin.include_tasks: service.yaml
