---
- name: Template nginx vhost for Kibana
  loop:
    - src: nginx/http.d/kibana.conf
      dest: "{{ nginx.prefix.config }}/http.d/kibana.conf"
  loop_control:
    label: "{{ item.dest }}"
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  notify: Reload nginx
