---
- name: Template nginx configuration for Kibana
  ansible.builtin.template:
    src: nginx/http.d/kibana.conf
    dest: "{{ nginx.prefix.config }}/http.d/kibana.conf"
    owner: root
    mode: "0644"
  notify: Reload nginx
